.todo-app {
    margin: 2rem auto 0 auto;
}

.app-content {
    height: 600px;
    position: relative;
}

.form-control:focus{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 1px solid #ced4da;
}